@page "/"

<PageTitle>Home</PageTitle>

<h1>About Me</h1>

<h2>Driven developer with extensive knowledge in software development. Started at HNC and worked up to degree level in computing</h2>

<h3>Currently working as a IT Support Officer</h3>
