@page "/projects"

<h3>Projects</h3>

<section>
	<div class="container flex-column">
		<img src="/images/xpWorld.jpg" alt="project pic"/>
		<button class="button">XP World</button>
		<img src="/images/profilePic.jpg" alt="project pic"/>
		<button class="button">Movie Heaven</button>
		<img src="/images/profilePic.jpg" alt="project pic"/>
		<button class="button">Bike-King-Borders</button>
	</div>

	<div class="container flex-column">
		<img src="/images/profilePic.jpg" alt="project pic"/>
		<button class="button">Calculator</button>
		<img src="/images/profilePic.jpg" alt="project pic"/>
		<button class="button">ShooterXGames</button>
		<img src="/images/profilePic.jpg" alt="project pic"/>
		<button class="button">Natural Language Processing Model</button>
	</div>
</section>