@page "/projects"

<h3>Projects</h3>

<section>
	<div class="container">
		<image src="/lib/profilePic.jpg"></image>
		<button>XP World</button>
		<button>Movie Heaven</button>
		<button>Bike-King-Borders</button>
	</div>

	<div class="container">
		<button>Calculator</button>
		<button>ShooterXGames</button>
		<button>Natural Language Processing Model</button>
	</div>
</section>