/* CSS for Projects component */
h3 {
    color: black;
    font-family: 'Global Sans Serif';
    font-size: 56px;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.container {
    display: flex;
}

    .container div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 24px;
        border-radius: 10px;
    }

/* Desktop */
.button {
    border: none;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 250px;
    cursor: pointer;
}

/* Other screen resolutions */
@media screen and (min-width: 1357px) {
    .button {
        border: none;
        color: black;
        padding: 25px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 100px;
        cursor: pointer;

    }
}

@media screen and (min-width: 992px) {
    .button {
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 100px;
        cursor: pointer;
    }
}

/* iPad Mini */
@media screen and (min-width: 768px) {
    .button {
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 100px;
        cursor: pointer;
    }
}


@media screen and (min-width: 480px) {
    .button {
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width: 380px) {
    .button {
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }
}

@media screen and (min-width: 360px) {
    .button {
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }
}

/* Galaxy Z Fold 5*/
@media screen and (min-width: 344px) {
    .button {
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }
}