@page "/projects"

<section>
	<div class="container flex-column">
		<img src="/images/xpWorld.jpg" alt="project pic"/>
		<a class="button" href="https://github.com/AndyCode2022/XP-World">XP World</a>
	</div>
</section>